
<h1 align= "center"><b>Help</b></h1>
<br>

<p align="center">
Forgot your password or need help with something?
  <br><br>
  Please contact <%= mail_to "joshuadulberger_2017@depauw.edu", "joshuadulberger_2017@depauw.edu" %> for assistance.
  <br>
</p>

<br>
<p id="note" align="center"><i>- Users who forgot their password will have to answer their security question before instructions are sent on how to reset it. -</i></p>

<hr>

<table width="70%" align="center">
  <tr>
    <td colspan="2" align="center"><p id="note">We are currently working on an iOS app for Project F.R.A.N.K.L.I.N. Below are pictures from Version: 0.1. If you are interested in beta testing, please click <%= mail_to "joshuadulberger_2017@depauw.edu", "here" %>.</td>
  <tr>
    <td width="50%" align="center"><%= image_tag("iphone1.png", :alt => "logo", size: "400x400", padding: "3px") %>
    <td width="50%" align="center"><%= image_tag("iphone2.png", :alt => "logo", size: "400x400", padding: "3px") %></td>
  </tr>
</table>


